* text=auto eol=lf
*.py text eol=lf
*.js text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
scripts/*.js text eol=lf
scripts/*.py text eol=lf

*.parquet binary
*.pkl binary
*.png binary
*.jpg binary
